.career-card {
  background: #fff;
  border-radius: 16px;
  padding: 30px 20px;
  height: 100%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  border-bottom: 4px solid #ff4d2d;
  transition: all 0.3s ease;
}

.career-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
}

.icon img {
  display: inline-block;
}