
/* Button container size */
.swiper-button-prev,
.swiper-button-next {
  width: 32px !important;
  height: 32px !important;
}

/* Arrow icon size */
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 16px !important; 
  color: yellow;
}
